 <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.ind}}" placeholder="Identifier" name="ind">
            <label for="floatingInput">Identifier</label>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.Name}}" placeholder="Name" name="Name">
            <label for="floatingInput">Name</label>
        </div>
    </div>
    

    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.status}}" placeholder="status" name="status">
            <label for="floatingInput">Status</label>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="floatingInput" placeholder="Comments" name="comments" style="height: 200px;">{{this.comments}}</textarea>
            <label for="floatingInput">Comments</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
